@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: radial-gradient(circle, #a8e6cf, #dcedc1);
    width: 100%;
    color: #333; /* Dark gray for a softer, friendlier feel */
    letter-spacing: 0.05rem; /* Reduce letter spacing for better readability */
    margin: 0;
    font-family: 'Arial', sans-serif; /* A clean, approachable font */
  }
}
